**/.dockerignore
**/.env
**/.git
**/.history
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/.DS_Store
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
README.md
/home/model/view/default/tmp
/home/model/view/bootstrap/tmp
/home/betterlife/view/default/tmp
/home/betterlife/view/bootstrap/tmp
/home/admin/view/default/tmp/
home/report/view/default/tmp/templates_c
/stressdata
/model
/upload
/log
/install/vendor
/install/bower_components
/install/node_modules
composer.lock
.DS_Store
docker-compose.yml
